.post {
    background: var(--white);
    color: var(--black);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 5px;
    min-height: 100px;
}

.title {
    cursor: pointer;
    font-size: 1.2rem;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    align-items: center;

    a:hover {
        text-decoration: underline;
        color: var(--main-color);
    }
}

.userAvatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: contain;
    &:hover {
        box-shadow: 0 0 10px var(--main-color);
    }
}